
<%= @ad.zagolovok%>
</br>
<div style='width: 500px; background-color: #cccfff; border-radius: 5px;'>
<%= @ad.tekst %>
</br>
</br>
</br>
</br>
</div>
<% image_tag @ad.img1.url (:thumb)  %>
<% image_tag @ad.img2.url (:thumb)  %>
